@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color: #1B1D21;
    --second-color: #FF730E;
    --shadow: #111215;
}

*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Outfit", sans-serif;
    color: white;
    background-color: var(--main-color);
}

::selection{
    background-color: var(--second-color);
}

header{
    background-image: url('../img/thomas2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    height: 100vh;
    max-height: 750px;
}

.container{
    max-width: 1200px;
    padding-inline: 2rem;
    margin: auto;
}

.cta{
    position: relative;
    background-color: var(--second-color);
    padding-inline: 1.4rem;
    padding-block: 0.5rem;
    font-size: 1.3rem;
    width: fit-content;
    border-radius: 999px;
    margin-top: 0.5rem;
    border: 3px solid var(--second-color);
    transition: 0.2s ease-in-out;
}

.cta:hover{
    transition: 0.2s ease-in-out;
    background-color: transparent;
    color: var(--second-color);
}

section{
    /* min-height: 80vh; */
    display: flex;
    padding-block: 5rem;
}

.orange{
    color: var(--second-color);
}

.bg-orange{
    background-color: var(--second-color);
}

h2{
    font-weight: 900;
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.surligner{
    position: relative;
}

.surligner::after{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform:rotateZ(-3deg);
    background-color: var(--second-color);
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.truncate p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%; 
}

.competences > div{
    border-radius: 1rem;
    background-color: var(--shadow);
    padding: 2rem;
    height: fit-content;
}

.competences > div button{
    color: var(--second-color);
}

.projet{
    width: 100%;
    max-width: 50rem;
    max-height: 23rem;
    height: 40vw;
    padding: 2rem;
    background-color: var(--second-color);
    color: var(--main-color);
    box-shadow: 20px 20px 0px var(--shadow);
}

/* 
.projet img{
    width: 40%;
} */

.projet img{
    width: 60%;
}

.projet .description{
    width: 30%;
}

.projet .description h3{
    font-size: 2rem;
    line-height: 1.2;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 900;
}

.projet .description h4{
    font-size: 1.3rem;
    font-weight: 500;
}

.projet a{
    background-color: var(--shadow);
    border: 3px solid var(--shadow);
    color: var(--second-color);
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

.projet a:hover{
    background-color: var(--second-color);
    color: var(--shadow);
    transition: 0.3s ease-in-out;
}

.contact .left > div, .contact .right > div{
    display: flex;
    flex-direction: column;
}

.contact{
    color: var(--main-color);
}

.contact h3{
    background-color: var(--main-color);
    color: var(--second-color);
    width: fit-content;
    height: fit-content;
    padding-inline: 0.4rem;
    font-size: 1.8rem;
    text-align: center;
}

.contact form{
    margin-top: 1rem;
}

.contact form button{
    color: white;
    margin-top: 1rem;
    background-color: var(--shadow);
    border-radius: 999px;
    padding-block: 0.8rem;
    padding-inline: 1rem;
    border: 3px solid var(--shadow);
    transition: 0.3s ease-in-out;
}

.contact form button:hover{
    transition: 0.3s ease-in-out;
    background-color: #1b1d2188;
}

.contact form input, .contact form textarea{
    padding: 0.5rem;
    color: var(--main-color);
    outline-color: var(--main-color);
}

.contact form textarea{
    height: 10.7rem;
}

.orange-box{
    border-radius: 1rem;
    background-color: var(--second-color);
    padding: 2rem;
    box-shadow: 20px 20px 0px var(--shadow);
}

footer{
    padding-block: 3rem;
    background-color: var(--shadow);
}

/* //////////////////////////////////////////////////////// */

@media screen and (max-width:790px) {
    .projet .description{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .projet .description h3{
        background-color: var(--main-color);
        color: var(--second-color);
        width: fit-content;
        height: fit-content;
        padding-inline: 0.4rem;
        font-size: 1.8rem;
        text-align: center;
    }
    .projet .description h4{
        display: none;    
    }
    .projet a{
        text-align: center;
        border: none;
        z-index: 99;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        color: var(--main-color);
    }
    .projet a:hover{
        background-color: rgb(176, 175, 175);
    }
    .projet{
        width: 100%;
        max-width: 50rem;
        max-height: 23rem;
        height: 70vw;
        padding: 2rem;
        background-color: var(--second-color);
        color: var(--main-color);
    }
    .projet img{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 5rem;
        text-align: center;
    }
    .contact .box{
        flex-direction: column;
    }
    .contact .orange-box{
        box-shadow: 10px 10px 0px var(--shadow);
        padding: 1rem;
    }
    .contact .box .left{
        gap: 1rem;
    }
    .contact .box .left > div{
        flex-direction: row;
        align-items: center;
    }
}


@media screen and (max-width:650px){
    header{
        background-size: cover;
    }
    .projet .description h3{
        font-size: 1.4rem;
    }
    nav .right{
        flex: 0;
    }
}

@media screen and (max-width:900px) {
    header{
        background-position: center -3rem;
        padding-bottom: 1rem;
    }
    header .texte{
        width: 100%;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        text-align: center;
    }
    header .texte h1{
        font-size: 4rem;
        line-height: 1;
    }
}

@media screen and (max-width:1000px) {
    .competences{
        flex-direction: column;
        align-items: center;
    }
    .competences > div{
        max-width: 30rem;
        width: 100%;
    }
    .presentation > p{
        width: 80%;
    }
    nav .middle{
        display: none;
    }
}

@media screen and (max-width:500px) {
    .contact{
        line-height: 1;
    }
    .contact h3{
        font-size: 1.5rem;
    }
    .contact a{
        font-size: 1rem;
    }
    .contact i{
        font-size: 2rem;
    }
    .contact form button i{
        font-size: 1rem;
    }
}