@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color: #1B1D21;
}

body{
    font-family: "Outfit", sans-serif;
    color: white;
    background-color: var(--main-color);
}

header{
    background-image: url('../img/thomas2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 100vh;
}

.container{
    max-width: 1100px;
    margin: auto;
}
